<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>訂單總覽</h1>

<table id="pets">
    <tr>
        <th>name</th>
        <th>性別</th>
        <th>Ligation</th>
        <th>毛的長度</th>
        <th>毛色</th>
        <th>年齡</th>
        <th>品種</th>
        <th>種類</th>
    </tr>
    <tr th:each="pet : ${pets}">
        <td th:text="${pet.getPetName()}"></td>
        <td th:text="${pet.getGender()}">Maria Anders</td>
        <td th:text="${pet.getLigation()}">Germany</td>
        <td th:text="${pet.getHairLengh()}">Germany</td>
        <td th:text="${pet.getHairColor()}">Germany</td>
        <td th:text="${pet.getAge()}">Germany</td>
        <td th:text="${pet.getVariety()}">Germany</td>
        <td th:text="${ pet.getKind()}">Germany</td>
    </tr>
</table>

</body>
</html>